* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased; /* Suavização de fonte para WebKit */
  -moz-osx-font-smoothing: grayscale; /* Suavização de fonte para Firefox */
  text-rendering: optimizeLegibility; /* Melhor renderização de texto */
}

/* Aplicação global do box-sizing */
*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  font-size: 62.5%; /* 1rem = 10px */
}

/* Variáveis de cores */
:root {
  --cor-fundo: #f0f0f0; /* Cor neutra para o fundo geral */
  --cor-texto: #333333; /* Cor escura para o texto principal */
  --cor-fundo-cabecalho: #2c3e50; /* Fundo escuro para o cabeçalho */
  --cor-texto-cabecalho: #ffffff; /* Texto claro no cabeçalho */
  --cor-principal: #1abc9c; /* Cor principal para elementos de destaque */
  --cor-hover: #16a085; /* Efeito de hover nos botões e links */
  --cor-texto-titulo: #2c3e50; /* Cor para os títulos */
  --cor-texto-subtitulo: #7f8c8d; /* Cor mais suave para os subtítulos */
  --cor-botao: #1abc9c; /* Cor dos botões */
  --cor-botao-texto: #ffffff; /* Cor do texto dos botões */
  --cor-botao-hover: #16a085; /* Cor ao passar o mouse sobre os botões */
  --cor-fundo-projeto: #ecf0f1; /* Fundo dos cards de projeto */
  --cor-texto-projeto: #34495e; /* Texto dos cards de projeto */
}

body {
  font-family: Arial, sans-serif;
  font-size: 1.6rem; /* 16px */
  line-height: 1.5;
  background-color: var(--cor-fundo);
  color: var(--cor-texto);
  padding: 2rem;
}

ol,
ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--cor-do-link);
}
